body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}
h1{
    font-size: 60px;
    color: rgb(77, 61, 61);
    
}
h2{
    font-size: 40px;
    color: rgb(77, 61, 61);
}
h3{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.gray{
    color: gray;
}

.top-section{
    display: flex;
    margin-bottom: 100px;
   
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 222px;

}
.half-width img{
    width:70%;


}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(to right, orange , tomato);
    font-size: 30px;
    font-weight: 400;
    color: white ;
    padding: 10px 15px;
    border-radius: 30px;
}
.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;


}
.banner img{
    height: 573px;
    width: 312px;
    margin: 0px 0px 0px 170px;
}
.my-service{
    text-align: center;
    width: 700px;
    height: 150px;
    margin: auto;
}
.service-items{
    width: 33.3%;
    /* text-align: center; */
    /*border: 2px solid black;*/
    padding: 26px;
    border-radius: 58px;
   /* margin: 80px;*/
    margin: 50px 112px 0px 61px;
    box-shadow: 10px 10px 40px rgb(202, 188, 188);
}
.service-items img{
    height: 326px;
    /* width: 100%; */
    margin: auto;
    display: block;
  
}
#box1{
    margin: 45px 0px 0px 162px;
}
#box2{
    margin: 45px 3px 0px 26px;;
}
#box3{
    margin: 45px 115px 0px 30px;
}
.follower-item{
    margin-left: 9%;
    margin-right: 6%;
    box-shadow: 10px 10px 40px rgb(202, 188, 188);
    border-radius: 22px;
    
}
.social-items{
    width: 33%;
    padding-left: 150px;

}
.footer-menu
{
    text-align: center;
    background-color: black;
    color: white;
    padding: 22px;
}
.logo{
    text-align: center;

    margin-left: 40%;
    margin-right: 40%;
    
}
#logo-slice{
    border-left: 7px solid;
    border-right: 7px solid;
    border-bottom: 7px solid ;
    border-image: linear-gradient(tomato, rgb(174, 174, 233));
    border-image-slice: 1;
}
.logo a{
    text-decoration: none;

}
.form{
    text-align: center; 
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px rgb(129, 108, 108);
    border-radius: 12px;
    padding: 10px;

}
#cform{
    width: 80%;
    padding: 18px;
    border-radius: 12px;

    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 33px;
}
#submit{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}