body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}
h1{
    font-size: 60px;
    color: rgb(77, 61, 61);
    
}
.orange-color{
    color: orange;
}
.gray{
    color: gray;
}

.top-section{
    display: flex;
    margin-bottom: 100px;
   
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 222px;

}
.half-width img{
    width:70%;


}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(to right, orange , tomato);
    font-size: 30px;
    font-weight: 400;
    color: white ;
    padding: 10px 15px;
    border-radius: 30px;
}
.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;


}
.banner img{
    height: 573px;
    width: 312px;
    margin: 0px 0px 0px 170px;
}
.my-service{
    text-align: center;
    width: 700px;
    height: 150px;
    margin: auto;
}
.service-items{
    width: 33.3%;
    /* text-align: center; */
    /*border: 2px solid black;*/
    padding: 26px;
    border-radius: 58px;
   /* margin: 80px;*/
    margin: 50px 112px 0px 61px;
    box-shadow: 10px 10px 40px rgb(202, 188, 188);
}
.service-items img{
    height: 326px;
    /* width: 100%; */
    margin: auto;
    display: block;
  
}
#box1{
    margin: 45px 0px 0px 162px;
}
#box2{
    margin: 45px 3px 0px 26px;;
}
#box3{
    margin: 45px 115px 0px 30px;
}
.follower-item{
    margin-left: 9%;
    margin-right: 6%;
    box-shadow: 10px 10px 40px rgb(202, 188, 188);
    border-radius: 22px;
    
}
.social-items{
    width: 33%;
    padding-left: 150px;

}